@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewData["Title"] = "All Posts";
  Layout = "_Layout";
}
@using Bagombo.Models.ViewModels.Home
@model AllPostsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" asp-action="AllPosts" asp-route-sortby="1">List by Category</a>
            <a class="btn btn-primary" asp-action="AllPosts" asp-route-sortby="2">List by Date</a>
        </div>
    </div>
    @if (Model.SortBy == 1)
    {
        <div class="row">
            <div class="col-md-12">
                <br />
                @foreach (var c in Model.Categories)
                {
                  <a class="btn btn-success btn-sm" href="#@c.Category.Name">@c.Category.Name</a>
                }
            </div>
        </div>
        <br />
        @foreach (var c in Model.Categories)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3 id="@c.Category.Name"><span class="badge badge-success">@c.Category.Name</span></h3>
                </div>
            </div>
            <div class="row">
                @foreach (var bp in c.Posts)
                {
                    <div class="col-md-12">
                        <a asp-action="BlogPost" asp-route-id="@bp.Id">@bp.Title</a> by @bp.Author.FirstName @bp.Author.LastName - @bp.Description
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="row">
          <br /> 
          <div class="col-md-12 mt-3">
            @foreach (var bp in Model.PostsByDate)
            {
              <span>
                <a asp-action="BlogPost" asp-route-id="@bp.Id">@bp.Title</a> by @bp.Author.FirstName @bp.Author.LastName - @bp.Description <strong>Modified at @bp.ModifiedAt</strong><br />
              </span>
            }
          </div>
        </div>
    }
</div>

