
@using Bagombo.Models.ViewModels.Home
@using System.Text;
@using CommonMark;

@model BlogPostViewModel

@{
  ViewData["Title"] = Model.Title;
  Layout = "_Layout";

  var host = Context.Request.Scheme + "://" + Context.Request.Host;
  var img = Model.Image ?? $"{host}/images/bagombo-logo.png";

  var url = $"{host}{Context.Request.Path}";
}

@section opengraph {

<meta property="og:type" content="article" />
<meta property="og:url" content="@host@Context.Request.Path" />
<meta property="og:title" content="@Model.Title" />
<meta property="og:description" content="@Model.Description" />
<meta property="og:url" content="@(host + Context.Request.Path)" />
<meta property="og:image" content="@img" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />

<meta property="twitter:url" content="@host@Context.Request.Path" />
<meta property="twitter:title" content="@Model.Title" />
<meta property="twitter:description" content="@Model.Description" />

}

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="container p-0">
        <div class="row mb-3">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h2>@Model.Title</h2>
                <hr />
                <p>
                  @Html.Raw(Model.Content)
                </p>
              </div>
              <div class="card-footer">
                @Model.ModifiedAt
                <div class="float-right">
                  Share: &nbsp;
                  <a href="https://twitter.com/intent/tweet?text=@Model.Title&url=@url"><i class="fa fa-twitter fa-lg"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u=#@url"><i class="fa fa-facebook-official fa-lg"></i></a>
                  <a href="https://plus.google.com/share?url=@url"><i class="fa fa-google-plus fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            @if(Model.Comments.Count() > 0)
            {
              <h3>Comments:</h3>

            }
            @foreach (var comment in Model.Comments)
            {
              <div class="card p-2 mb-2">
                <div class="container">
                  <div class="row">
                    <div class="col-md-1 pt-2">
                      @{ 
                        var email = comment.Email ?? comment.Name;
                        var md5 = System.Security.Cryptography.MD5.Create();
                        byte[] hash = md5.ComputeHash(Encoding.Default.GetBytes(email));
                        var sb = new StringBuilder();
                        for (var i = 0; i < hash.Length; i++)
                        {
                          sb.Append(hash[i].ToString("x2"));

                        }
                        <img src="https://www.gravatar.com/avatar/@sb.ToString()?s=50&d=robohash" />
                      }
                    </div>
                    <div class="col-md-11">
                      <span><a href="@comment.WebSite"> @comment.Name </a> </span> <br />
                      <span>@Html.Raw(CommonMarkConverter.Convert(comment.Text))</span>
                      <span><i>@comment.Added</i></span> <br />
                      @if (User.IsInRole("Admins"))
                      {
                        <a asp-action="DeleteComment" asp-route-Id="@comment.Id" asp-route-BlogPostId=@Model.Id>Delete Comment</a> <br />
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
            <div class="card">
              <div class="card-header">
                Add Comment:
              </div>
              <div class="card-body p-3 mb-2">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="AddComment" method="post">
                  <input asp-for="Slug" type="hidden" />
                  <input asp-for="Id" type="hidden" />
                  <div class="form-group">
                    <label name="Name">Name:</label>
                    <input class="form-control" name="Name" />
                  </div>
                  <div class="form-group">
                    <label for="Email">Email (for gravitar): </label>
                    <input class="form-control" name="Email" />
                  </div>
                  <div class="form-group">
                    <label for="Website">Website:</label>
                    <input class="form-control" name="Website" />
                  </div>
                  <div class="form-group">
                    <label for="Text">Comment (supports markdown):</label>
                    <textarea class="form-control" name="Text"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-2">
        <div class="card-header">
          <h5>Author:</h5>
        </div>
        <div class="card-body">
          @Model.Author?.FirstName @Model.Author?.LastName <br />
          @if (Model.Author != null && Model.Author.Blurb != null & Model.Author.Blurb != "")
          {
            <hr />
                  @Model.Author?.Blurb
          }
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">
          <h5>Description:</h5>
        </div>
        <div class="card-body">
          @Model.Description
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h6>Categories:</h6>
        </div>
        <div class="card-body">
          @foreach (var cat in Model.Categories)
          {
            <a class="label label-info" asp-action="CategoryPosts" asp-route-id="@cat.Id">@cat.Name</a><br />
          }
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    
  </div>
</div>