
@{
  ViewData["Title"] = "Bagombo Home";
  Layout = "_Layout";
}
@using Bagombo.Models.ViewModels.Home
@model HomeViewModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2><strong>Bagombo Blog Engine 0.2.3 Alpha Released!</strong></h2>
                <p>The Bagombo Blog Engine is a free ASP.NET Core based blogging engine with support for multiple authors and editing in Markdown.</p>

                <p>It runs on ASP.NET Core and uses SQL Server as its backend database.</p>

                <p>It's easy to customize the homepage with some basic HTML and CSS skills, and with a basic understanding of ASP.NET it can further be tailored to your specifications.</p>
                <p>
                  It has the following functionality built in:
                  <blockquote>
                    <ul>
                      <li>Categorize posts by topic or simple categories for organization</li>
                      <li>Support for multiple authors</li>
                      <li>Twitter, Facebook or local authentication </li>
                      <li>Full text search of blog posts</li>
                      <li>Author posts in Markdown with a built in preview capability</li>
                      <li>It's open source under the MIT license, so you can take it and do as you wish</li>
                    </ul>
                  </blockquote>
                </p>
                <p>You can grab the latest source at Github by clicking the download link and picking a release.</p>
                <p>
                  <a class="btn btn-primary btn-lg" role="button" href="/home/blogpost/10">See the Roadmap...</a>
                  <a class="btn btn-primary btn-lg" role="button" href="/home/blogpost/3">What will be on the Bagombo site?</a>
                  <a class="btn btn-primary btn-lg" href="https://github.com/tylerlrhodes/bagombo/releases" role="button">Download</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
      @if(Model.TopicPosts.Topic != null)
      {
        <div class="col-sm-6 col-md-4">
          <h3>@Model.TopicPosts.Topic.Title</h3>
          <hr />
          <ul class="nostyle">
            @foreach (var p in Model.TopicPosts.BlogPosts)
            {
              <li><a asp-action="BlogPost" asp-route-id="@p.Id">@p.Title</a></li>
            }
          </ul>
        </div>
      }
      else
      {
        <div class="col-md-2">
          &nbsp;
        </div>
      }
        <div class="col-sm-6 col-md-4">
            <h3>Recent Posts</h3>
            <hr />
            <ul class="nostyle">
                @foreach (var p in Model.RecentPosts)
                {
                  <li><a asp-action="BlogPost" asp-route-id="@p.Id">@p.Title</a></li>
                }
            </ul>
        </div>
        <div class="col-sm-6 col-md-4">
            <h3>3rd Party Resources</h3>
            <hr />
            <ul class="nostyle">
                <li><a href="https://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown Reference</a></li>
                <li><a href="https://www.npmjs.com/package/markdown-pdf">For 0.3 -- Markdown to PDF</a></li>
                <li><a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core Documentation</a></li>
                <li><a href="https://github.com/aspnet">ASP.NET Github</a></li>
                <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="https://jquery.com/">jQuery</a></li>
                <li><a href="https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/">Creating a Responsive Navbar</a></li>
            </ul>
        </div>
    </div>

</div>