
@using Bagombo.Models.ViewModels.Home
@using CommonMark
@using Microsoft.Extensions.Options;

@inject IOptions<BagomboSettings> _settings
@model SearchResultsViewModel

@{
  ViewData["Title"] = $"Posts for Search: {Model.SearchTerm}";
  Layout = "_Layout";
  var host = Context.Request.Scheme + "://" + Context.Request.Host;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Posts for Search: <span class="label label-info">@Model.SearchTerm</span></h3>
            <hr />
        </div>
    </div>
   @foreach (var post in Model.BlogPosts)
   {
     var bp = post.BlogPost;
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header">
            <a asp-action="BlogPostBySlug" asp-route-id="@bp.Slug">@bp.Title</a> by @bp.Author.FirstName @bp.Author.LastName on @bp.PublishOn
            @if (bp.Comments != null)
        {
              <div class="float-right">@bp.Comments?.Count() Comments</div>
            }
          </div>
          <div class="card-body pl-0">
            <div class="container">
              <div class="row">
                <div class="col-12 pl-4">
                  @{
                    var content = bp.Content.Split('\n').Take(_settings.Value.LinesPerPost);
                    var contentString = string.Join('\n', content);
                  }
                  @Html.Raw(CommonMarkConverter.Convert(contentString))
                  <div class="float-right">
                    <a asp-action="BlogPost" asp-route-id="@bp.Id">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   }
</div>