@using Bagombo.Models.ViewModels.Home
@model TopicPostsViewModel

@{
  ViewData["Title"] = $"Posts for Topic {Model.Topic.Title}";
  Layout = "_Layout";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Posts for @Model.Topic.Title</h3>
            <hr />
        </div>
    </div>
    @foreach (var post in Model.BlogPosts)
    {
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <a asp-action="BlogPost" asp-route-id="@post.Id">@post.Title</a>
                        </h3>
                        <h5>
                            Author: @post.Author
                        </h5>
                        <hr />
                        <h5>
                            @post.Description
                        </h5>
                        <h5>
                            @foreach (var c in post.Categories)
                            {
                              <span class="label label-info"> @c.Name </span>  

                            }
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
