
@using blog.Models.ViewModels.Home
@model ViewBlogPostViewModel

@{
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <h2>@Model.Title</h2>
                </p>
                <hr />
                <p>
                    @Html.Raw(Model.Content)
                </p>
            </div>
            <div class="panel-footer">
                @Model.ModifiedAt
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Author:</h6>
            </div>
            <div class="panel-body">
                @Model.Author
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Description:</h6>
            </div>
            <div class="panel-body">
                @Model.Description
            </div>
        </div>
    </div>
</div>