
@using blog.Models.ViewModels.Home
@model ViewBlogPostViewModel

@{
  ViewData["Title"] = Model.Title;
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2><span class="label label-primary">@Model.Title</span></h2>
                <hr />
                <p>
                    @Html.Raw(Model.Content)
                </p>
            </div>
            <div class="panel-footer">
                @Model.ModifiedAt
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Author:</h5>
            </div>
            <div class="panel-body">
                @Model.Author
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Description:</h5>
            </div>
            <div class="panel-body">
                @Model.Description
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Categories:</h6>
            </div>
            <div class="panel-body">
                @foreach (var cat in Model.Categories)
                {
                  <a class="label label-info" asp-action="ListByCategoriy" asp-route-id="@cat.Id">@cat.Name</a><br />
                }
            </div>
        </div>
    </div>
</div>