@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  @model ManagePostsViewModel
  ViewData["Title"] = "Admin - Manage Posts";
  Layout = "_Layout";
}



<div class="container-fluid">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Admin - Manage Posts</h3></div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Description</th>
                            <th>Publish Date</th>
                            <th>Is Public?</th>
                            <th>Orphaned Author?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in Model.posts)
                        {
                            var aid = $"a{post.Id}";
                        <tr id="@post.Id">
                            <td>@post.Id</td>
                            <td>@post.Title</td>
                            <td>@post.Author.FirstName @post.Author.LastName</td>
                            <td>@post.Description</td>
                            <td>@post.PublishOn</td>
                            <td>@post.Public</td>
                            <td>@if (@post.Author.ApplicationUserId == null)
                                {
                                    <span>Yes</span>
                                }
                            </td>
                            <td>
                                <form asp-controller="BlogApi" asp-action="DeletePost" asp-route-id="@post.Id" method="post">
                                    <span class="text-nowrap">
                                        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="blogpost" asp-route-id="@post.Id">View</a>
                                        <a class="btn btn-primary btn-sm" asp-controller="Author" asp-action="editpost" asp-route-id="@post.Id">Edit</a>
                                        <button class="btn btn-danger btn-sm delpost" type="submit">Delete</button>
                                    </span>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

