@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using blog.Models;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<ApplicationUser>
@inject UserManager<ApplicationUser> _userManager;

@{
  Layout = "_Layout";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Manage Users</h3></div>
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Login Providers</th>
                    <th>Author</th>
                </tr>
                @if (Model.Count() == 0)
                {
                <tr><td colspan="3">No User Accounts!</td></tr>
                }
                else
                {
                    foreach (var user in Model)
                    {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            @foreach (var login in @user.Logins)
                            {
                                <span>@login.LoginProvider</span>
                            }
                        </td>
                        <td>
                            @if(user.Author != null)
                            {
                              <text>Yes</text> 
                            }
                        </td>
                        <td>
                            <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                <a class="btn btn-primary btn-sm" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                                <button type="submit" class="btn btn-danger btn-sm" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</button>
                            </form>
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
        <a class="btn btn-primary" asp-action="CreateUser">Create New User</a>
    </div>
</div>